html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.container {
    max-width: 944px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
    box-sizing: border-box;
}

.material-icons {
    cursor: pointer;
}

.box {
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 4px;
    background-color: #fdfdfd;
}

.navbar.box {
    padding-left: 48px;
    padding-right: 48px;
}

/* Animations */

@keyframes spin {
    100% { transform: rotate(360deg); }
}

/* Header */

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 12px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 4px;
    background-color: #fdfdfd;
    margin-top: 12px;
    margin-left: 256px;
    margin-right: 256px;
}

.header {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
}

.navbar {
    display: flex;
    gap: 24px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding: 4px;
}

a:hover {
    color: rgba(0, 0, 0, 0.8);
}

.year {
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

/* News */

.news-container {
    padding-top: 32px;
}

.news {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 12px;
}

#refresh {
    color: rgba(0, 0, 0, 0.5);
}

#refresh:hover {
    color: rgba(0, 0, 0, 0.8);
}
  
.material-icons.spin {
    animation: spin 1s linear infinite;
}

.info {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 12px;
    margin-bottom: 8px;
}
  
.updated-tag {
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

#news-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
}

.news-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #ffffff;
    padding: 12px;
}

.article {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
}

.description {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

.date {
    display: flex;
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

.source {
    color: rgba(0, 0, 0, 1);
}

/* Timeline */

.timeline-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.timeline-navbar {
    margin-left: 312px;
    margin-right: 312px;
    background-color: #ffffff;
}

.timeline-terms {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    padding: 4px;
}

.timeline-terms a {
    cursor: pointer;
}

.timeline-terms a.active {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
}

.timeline-years {
    display: none;
}
  
.timeline-years.active {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    padding: 4px;
}

.timeline-years a {
    cursor: pointer;
}

.timeline-years a.active {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
}

.timeline-text {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 12px;
    padding-top: 32px;
    margin-bottom: 8px;
}

.timeline-wrapper {
    position: relative;
    margin: 30px auto;
    padding: 20px 0;
    max-width: 900px;
  }
  
.timeline-wrapper::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background: #000;
    transform: translateX(-50%);
}

.timeline-wrapper {
    display: none;
}
  
.timeline-wrapper.active {
    display: block;
}
  

.timeline-year {
    font-size: 32px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 40px;
}
  
.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}
  
.timeline-item.left {
    left: 0;
    text-align: left;
}

.timeline-item.center {
    left: 25%;
    text-align: left;
}
  
.timeline-item.right {
    left: 50%;
    text-align: left;
}
  
.timeline-marker {
    position: absolute;
    top: 30px;
    width: 24px;
    height: 24px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.timeline-item.left .timeline-marker {
    right: -12px;
}
  
.timeline-item.right .timeline-marker {
    left: -12px;
}
  
.timeline-marker img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}
  
.timeline-content {
    padding: 15px 20px;
    display: inline-block;
    max-width: 100%;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 4px;
    background-color: #ffffff;
}

.timeline-header {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 4px;
}

.timeline-desc {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 4px;
}

.content-bottom {
    display: flex;
    justify-content: flex-end;
}

.timeline-link {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

.timeline-category {
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-left: auto;
}

/* Charts */

.charts-container {
    padding: 42px;
}

.charts {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 12px;
    padding-top: 32px;
    margin-bottom: 8px;
}

.map {
    background-color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
}

#legend {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #ccc;
    width: 100%;
    max-width: 785px;
    box-sizing: border-box;
    margin-left: 12px;
}
  
#legend div {
    min-width: 60px;
    padding: 6px 10px;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
    text-align: center;
    margin-top: 12px;
}

table, th, td {
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 4px;
    background-color: #fff;
}

th {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
}

td {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

.table-update {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

/* Footer */

.footer {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 36px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}