html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.container {
    max-width: 944px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
    box-sizing: border-box;
}

/* Header */

.header-container {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
}

/* News */

.news-container {

}

.news {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

.news-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.article {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
}

.description {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

.date {
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}